#players_header, #dealers_header  {
  visibility: hidden;
}

@media screen and (min-width: 768px){
  .sample {
    background-color: blue;
    font-size: 1.5em;
  }
}

h3, h4, h5, p {
  margin: 0 0 0 0;
}

.logo {
  background-color: orangered;
  color: white;
  text-align: center;
}

.header {
  height: 30px;
  background-color: lightgray;
  text-align: center;
}

.header > div {
  display: inline-block;
}

.content {
  background-color: white;
  height: 400px;
}

.actions {
  background-color: white;
}

.footer {
  background-color: black;
}

.btn {
  height: 50px;
  width: 70px;
  text-align: center;
  background-color: silver;
  margin: 0 1em 0 1em;
}

.btn--nav {
  height: 30px;
  width: 20%;
  text-align: center;
  background-color: silver;
  color: orangered;
}

.btn--nav:first-of-type {
  float: left;
}

.btn--nav:last-of-type {
  float: right;
}

.page_title {
  display: table-cell;
  height: 30px;
  vertical-align: middle;
}

.players_header {
  padding-top: 1em;
  padding-bottom: 1.25em;
}

.result {
  padding-top: 1.5em;
}

.indent--sml {
  padding-left: 1.2em;
}
