#players_header, #dealers_header  {
  visibility: hidden;
}

button {
  height: 50px;
  width: 75px;
  text-align: center;
  background-color: silver;
}

#stick_button {
  margin-left: 3.1em;
}
#twist_button {
  margin-left: 6.2em;
}

body {
  background-color: rgb(21, 190, 21);
  margin: 0;
}

body > div {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1em;
}

#logo {
  color: white;
  width: 100%;
  background-color: black;
  margin: 0;
}

#logo:after{
  content: ' - Mobile first'
}

@media screen and (min-width: 768px){
  #logo {
    background-color: blue;
    font-size: 1.5em;
  }

  #logo:after{
    content: ' - Tablet'
  }
}

@media screen and (min-width: 900px){
  #logo {
    background-color: red;
    font-size: 1.5em;
  }

  #logo:after{
    content: ' - Desktop'
  }
}

#header {
  color: black;
  font-size: 0.75em;
}

#content {
  background-color: rgb(21, 190, 21);
  min-height: 360px;
  max-height: 360px;
}

#footer {
  background-color: rgb(21, 190, 21);
  margin-bottom: 0;
}

#footer div{
  width: 23%;
  display: inline-block;
}