#players_header, #dealers_header  {
  visibility: hidden;
}

button {
  height: 50px;
  width: 70px;
  text-align: center;
  background-color: silver;
}

.game_button {
  width: 100px;
  height: 20px;
  margin: 0;
  padding: 0;
}

.home_button {
  width: 90px;
  height: 25px;
  margin: 0;
  padding: 0;
}

.placeholder_button {
  width: 90px;
  height: 25px;
  margin: 0;
  padding: 0;
}

#top_bar {
  color: white;
  width: 100%;
  height: 50px;
  background-color: black;
  margin: 0;
}

body {
  background-color: rgb(21, 190, 21);
  margin: 0;
}

body > div {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1em;
}

#logo {
  color: white;
  width: 100%;
  background-color: red;
  margin: 0;
  text-align: center;
}

@media screen and (min-width: 768px){
  #logo {
    background-color: blue;
    font-size: 1.5em;
  }
}

@media screen and (min-width: 900px){
  #logo {
    background-color: red;
    font-size: 1.5em;
  }
}

#header {
  background-color: black;
  color: white;
  height: .75em;
  width: 40%;
  text-align: center;
}

#top_bar div{
  display: inline-block;
}

#content {
  min-height: 300px;
  max-height: 300px;
}

#footer {
  margin-left: 10%;
  margin-bottom: 0;
}

#footer div{
  width: 31%;
  display: inline-block;
}